.container{ margin: 83px 163px}
.box1{ float: left; margin-right: 16px; background-color: #F8F8F8; width: 536px;}
.box2{float: left; background-color: #F8F8F8; width: 536px;}
.smalltitle1 { font-size: 14px; color: #5863F8; margin-bottom: 8px; text-transform: uppercase;}
.maintitle{font-size: 42px; font-weight: 800; width: 600px; margin-bottom: 42px; text-transform: uppercase;}
.smalltitle { font-size: 14px; color: #5863F8; text-transform: uppercase;}
.bigtitle{ font-size: 18px; font-weight: 400; text-transform: uppercase;}
.paragraf{font-size: 14px; color: #B1B1B1;width: 350px; text-transform: capitalize;}
.image{float: left; margin-right: 16px;}
.text{float: left;}